# Build and Release Folders
/node_modules
/vendor
/.vscode
/.idea
# gitignore files
/public/0.js
/public/1.js
/public/2.js
/public/3.js
/public/4.js
/public/5.js
/public/6.js
/public/7.js
/public/8.js
/public/9.js
/public/10.js
/public/11.js
/public/12.js
/public/13.js
/public/14.js
/public/15.js
/public/16.js
/public/17.js
/public/18.js
/public/19.js
/public/20.js
/public/21.js
/public/22.js
/public/23.js
/public/24.js